In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv('demographic_and_housing.csv')
df.head()

,Label (Grouping),Alabama!!Estimate,Alabama!!Margin of Error,Alabama!!Percent,Alabama!!Percent Margin of Error,Alaska!!Estimate,Alaska!!Margin of Error,Alaska!!Percent,Alaska!!Percent Margin of Error,Arizona!!Estimate,...,Wisconsin!!Percent,Wisconsin!!Percent Margin of Error,Wyoming!!Estimate,Wyoming!!Margin of Error,Wyoming!!Percent,Wyoming!!Percent Margin of Error,Puerto Rico!!Estimate,Puerto Rico!!Margin of Error,Puerto Rico!!Percent,Puerto Rico!!Percent Margin of Error
0,SEX AND AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total population,"5,108,468",*****,"5,108,468",(X),"733,406",*****,"733,406",(X),"7,431,344",...,"5,910,955",(X),"584,057",*****,"584,057",(X),"3,205,691",*****,"3,205,691",(X)
2,Male,"2,471,801","±5,359",48.4%,±0.1,"385,855","±2,547",52.6%,±0.3,"3,708,672",...,50.1%,±0.1,"295,735","±2,677",50.6%,±0.5,"1,518,924","±4,095",47.4%,±0.1
3,Female,"2,636,667","±5,359",51.6%,±0.1,"347,551","±2,547",47.4%,±0.3,"3,722,672",...,49.9%,±0.1,"288,322","±2,677",49.4%,±0.5,"1,686,767","±4,095",52.6%,±0.1
4,Sex ratio (males per 100 females),93.7,±0.4,(X),(X),111.0,±1.5,(X),(X),99.6,...,(X),(X),102.6,±1.9,(X),(X),90.0,±0.5,(X),(X)

In [25]:
cats = list(df.iloc[:, 0])

for i in range(len(cats)):
    cats[i] = cats[i].replace('\xa0', '')
    
cats

['SEX AND AGE',
 'Total population',
 'Male',
 'Female',
 'Sex ratio (males per 100 females)',
 'Under 5 years',
 '5 to 9 years',
 '10 to 14 years',
 '15 to 19 years',
 '20 to 24 years',
 '25 to 34 years',
 '35 to 44 years',
 '45 to 54 years',
 '55 to 59 years',
 '60 to 64 years',
 '65 to 74 years',
 '75 to 84 years',
 '85 years and over',
 'Median age (years)',
 'Under 18 years',
 '16 years and over',
 '18 years and over',
 '21 years and over',
 '62 years and over',
 '65 years and over',
 '18 years and over',
 'Male',
 'Female',
 'Sex ratio (males per 100 females)',
 '65 years and over',
 'Male',
 'Female',
 'Sex ratio (males per 100 females)',
 'RACE',
 'Total population',
 'One race',
 'Two or More Races',
 'One race',
 'White',
 'Black or African American',
 'American Indian and Alaska Native',
 'Aztec',
 'Blackfeet Tribe of the Blackfeet Indian Reservation of Montana',
 'Maya',
 'Native Village of Barrow Inupiat Traditional Government',
 'Navajo Nation',
 'Nome Eskimo Community',
 'Other American Indian and Alaska Native',
 'Asian',
 'Asian Indian',
 'Chinese',
 'Filipino',
 'Japanese',
 'Korean',
 'Vietnamese',
 'Other Asian',
 'Native Hawaiian and Other Pacific Islander',
 'Chamorro',
 'Native Hawaiian',
 'Samoan',
 'Other Native Hawaiian and Other Pacific Islander',
 'Some Other Race',
 'Two or More Races',
 'White and Black or African American',
 'White and American Indian and Alaska Native',
 'White and Asian',
 'White and Some Other Race',
 'Black or African American and American Indian and Alaska Native',
 'Black or African American and Some Other Race',
 'Race alone or in combination with one or more other races',
 'Total population',
 'White',
 'Black or African American',
 'American Indian and Alaska Native',
 'Asian',
 'Native Hawaiian and Other Pacific Islander',
 'Some Other Race',
 'HISPANIC OR LATINO AND RACE',
 'Total population',
 'Hispanic or Latino (of any race)',
 'Mexican',
 'Puerto Rican',
 'Cuban',
 'Other Hispanic or Latino',
 'Not Hispanic or Latino',
 'White alone',
 'Black or African American alone',
 'American Indian and Alaska Native alone',
 'Asian alone',
 'Native Hawaiian and Other Pacific Islander alone',
 'Some Other Race alone',
 'Two or More Races',
 'Two races including Some Other Race',
 'Two races excluding Some Other Race, and three or more races',
 'Total housing units',
 'CITIZEN, VOTING AGE POPULATION',
 'Citizen, 18 and over population',
 'Male',
 'Female']

In [26]:
df = df.iloc[[38, 39, 74, 79], [0] + list(range(3, 205, 4))]

In [27]:
df.shape

(4, 52)

In [28]:
df = df.T

df.columns = df.iloc[0]

df = df.iloc[1:]

df = df.reset_index()



df.rename(columns={'index': 'State'}, inplace=True)

# df.reset_index()
df.head(10)

Label (Grouping),State,White,Black or African American,Asian,Hispanic or Latino (of any race)
0,Alabama!!Percent,64.7%,25.4%,2.1%,5.7%
1,Alaska!!Percent,59.6%,2.9%,9.1%,7.5%
2,Arizona!!Percent,58.3%,4.8%,5.3%,31.6%
3,Arkansas!!Percent,68.9%,14.4%,2.2%,9.1%
4,California!!Percent,38.5%,5.4%,18.4%,40.4%
5,Colorado!!Percent,70.4%,3.9%,5.1%,22.7%
6,Connecticut!!Percent,64.5%,10.9%,5.9%,18.6%
7,Delaware!!Percent,59.3%,22.5%,5.1%,11.1%
8,District of Columbia!!Percent,38.8%,40.9%,6.4%,12.0%
9,Florida!!Percent,55.5%,14.9%,4.1%,27.4%

In [30]:
df = df.set_index('Label (Grouping)')

df.head(10)

KeyError: "None of ['Label (Grouping)'] are in the columns"

In [32]:
df.index.name = None

In [33]:
df.head()

Label (Grouping),State,White,Black or African American,Asian,Hispanic or Latino (of any race)
0,Alabama!!Percent,64.7%,25.4%,2.1%,5.7%
1,Alaska!!Percent,59.6%,2.9%,9.1%,7.5%
2,Arizona!!Percent,58.3%,4.8%,5.3%,31.6%
3,Arkansas!!Percent,68.9%,14.4%,2.2%,9.1%
4,California!!Percent,38.5%,5.4%,18.4%,40.4%

In [36]:
df['State'] = df['State'].apply(lambda x: x.split("!!")[0])

df.head()

Label (Grouping),State,White,Black or African American,Asian,Hispanic or Latino (of any race)
0,Alabama,64.7%,25.4%,2.1%,5.7%
1,Alaska,59.6%,2.9%,9.1%,7.5%
2,Arizona,58.3%,4.8%,5.3%,31.6%
3,Arkansas,68.9%,14.4%,2.2%,9.1%
4,California,38.5%,5.4%,18.4%,40.4%

In [ ]:
df.tail(40)

In [37]:
df.to_csv('demographic_data.csv', index=False)