In [17]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv('religious-demographics.csv')
df.head()

,State,Buddhist,Catholic,Evangelical Protestant,Hindu,Historically Black Protestant,Jehovah's Witness,Jewish,Mainline Protestant,Mormon,Muslim,Orthodox Christian,Other Christian,Other Faiths,Other World Religions,"Unaffiliated (religious ""nones"")",Don't know,Sample size
0,Alabama,< 1%,7%,49%,< 1%,16%,< 1%,< 1%,13%,1%,< 1%,< 1%,< 1%,1%,< 1%,12%,1%,511
1,Alaska,1%,16%,22%,< 1%,3%,< 1%,< 1%,12%,5%,< 1%,5%,< 1%,4%,1%,31%,1%,310
2,Arizona,1%,21%,26%,1%,1%,1%,2%,12%,5%,1%,< 1%,< 1%,2%,< 1%,27%,< 1%,653
3,Arkansas,< 1%,8%,46%,< 1%,8%,< 1%,< 1%,16%,1%,2%,< 1%,< 1%,1%,< 1%,18%,< 1%,311
4,California,2%,28%,20%,2%,2%,1%,2%,10%,1%,1%,1%,1%,2%,1%,27%,1%,3697

In [19]:
df = df.replace("< 1%", "1%")

df.head()

,State,Buddhist,Catholic,Evangelical Protestant,Hindu,Historically Black Protestant,Jehovah's Witness,Jewish,Mainline Protestant,Mormon,Muslim,Orthodox Christian,Other Christian,Other Faiths,Other World Religions,"Unaffiliated (religious ""nones"")",Don't know,Sample size
0,Alabama,1%,7%,49%,1%,16%,1%,1%,13%,1%,1%,1%,1%,1%,1%,12%,1%,511
1,Alaska,1%,16%,22%,1%,3%,1%,1%,12%,5%,1%,5%,1%,4%,1%,31%,1%,310
2,Arizona,1%,21%,26%,1%,1%,1%,2%,12%,5%,1%,1%,1%,2%,1%,27%,1%,653
3,Arkansas,1%,8%,46%,1%,8%,1%,1%,16%,1%,2%,1%,1%,1%,1%,18%,1%,311
4,California,2%,28%,20%,2%,2%,1%,2%,10%,1%,1%,1%,1%,2%,1%,27%,1%,3697

In [20]:
df.dtypes

State                               object
Buddhist                            object
Catholic                            object
Evangelical Protestant              object
Hindu                               object
Historically Black Protestant       object
Jehovah's Witness                   object
Jewish                              object
Mainline Protestant                 object
Mormon                              object
Muslim                              object
Orthodox Christian                  object
Other Christian                     object
Other Faiths                        object
Other World Religions               object
Unaffiliated (religious "nones")    object
Don't know                          object
Sample size                          int64
dtype: object

In [21]:
convert = lambda x: float(x.replace("%", ""))

for col in df.columns:
    if col != "State" and col != "Sample size":
        df[col] = df[col].apply(convert)
        
df.head()

,State,Buddhist,Catholic,Evangelical Protestant,Hindu,Historically Black Protestant,Jehovah's Witness,Jewish,Mainline Protestant,Mormon,Muslim,Orthodox Christian,Other Christian,Other Faiths,Other World Religions,"Unaffiliated (religious ""nones"")",Don't know,Sample size
0,Alabama,1.0,7.0,49.0,1.0,16.0,1.0,1.0,13.0,1.0,1.0,1.0,1.0,1.0,1.0,12.0,1.0,511
1,Alaska,1.0,16.0,22.0,1.0,3.0,1.0,1.0,12.0,5.0,1.0,5.0,1.0,4.0,1.0,31.0,1.0,310
2,Arizona,1.0,21.0,26.0,1.0,1.0,1.0,2.0,12.0,5.0,1.0,1.0,1.0,2.0,1.0,27.0,1.0,653
3,Arkansas,1.0,8.0,46.0,1.0,8.0,1.0,1.0,16.0,1.0,2.0,1.0,1.0,1.0,1.0,18.0,1.0,311
4,California,2.0,28.0,20.0,2.0,2.0,1.0,2.0,10.0,1.0,1.0,1.0,1.0,2.0,1.0,27.0,1.0,3697

In [22]:
df.dtypes

State                                object
Buddhist                            float64
Catholic                            float64
Evangelical Protestant              float64
Hindu                               float64
Historically Black Protestant       float64
Jehovah's Witness                   float64
Jewish                              float64
Mainline Protestant                 float64
Mormon                              float64
Muslim                              float64
Orthodox Christian                  float64
Other Christian                     float64
Other Faiths                        float64
Other World Religions               float64
Unaffiliated (religious "nones")    float64
Don't know                          float64
Sample size                           int64
dtype: object

In [23]:
christian_cols = [2,3, 5, 8, 9, 11, 12]

df['Christian Total'] = df.iloc[:, [2,3, 5, 8, 9, 11, 12]].sum(axis=1)

df = df.iloc[:, [i for i in range(len(df.columns)) if i not in christian_cols]]

df.head()

,State,Buddhist,Hindu,Jehovah's Witness,Jewish,Muslim,Other Faiths,Other World Religions,"Unaffiliated (religious ""nones"")",Don't know,Sample size,Christian Total
0,Alabama,1.0,1.0,1.0,1.0,1.0,1.0,1.0,12.0,1.0,511,88.0
1,Alaska,1.0,1.0,1.0,1.0,1.0,4.0,1.0,31.0,1.0,310,64.0
2,Arizona,1.0,1.0,1.0,2.0,1.0,2.0,1.0,27.0,1.0,653,67.0
3,Arkansas,1.0,1.0,1.0,1.0,2.0,1.0,1.0,18.0,1.0,311,81.0
4,California,2.0,2.0,1.0,2.0,1.0,2.0,1.0,27.0,1.0,3697,63.0

In [26]:
df = df.drop(["Jehovah's Witness", "Other Faiths", "Other World Religions", "Unaffiliated (religious \"nones\")", "Don't know"], axis=1)
df.head()

        State  Buddhist  Hindu  Jewish  Muslim  Sample size  Christian Total
0     Alabama       1.0    1.0     1.0     1.0          511             88.0
1      Alaska       1.0    1.0     1.0     1.0          310             64.0
2     Arizona       1.0    1.0     2.0     1.0          653             67.0
3    Arkansas       1.0    1.0     1.0     2.0          311             81.0
4  California       2.0    2.0     2.0     1.0         3697             63.0

In [27]:
df = df.drop("Sample size", axis=1)

df.head()

        State  Buddhist  Hindu  Jewish  Muslim  Christian Total
0     Alabama       1.0    1.0     1.0     1.0             88.0
1      Alaska       1.0    1.0     1.0     1.0             64.0
2     Arizona       1.0    1.0     2.0     1.0             67.0
3    Arkansas       1.0    1.0     1.0     2.0             81.0
4  California       2.0    2.0     2.0     1.0             63.0

In [28]:
df.to_csv("clean_religion_data.csv", index=False)